[Unit]
Description=dbsKioskPi - Turn TV Off (Standby) via HDMI-CEC
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dbs-cec off

[Install]
WantedBy=multi-user.target
