[Unit]
Description=dbsKioskPi Wayland Chromium Kiosk
After=systemd-user-sessions.service getty@tty1.service seatd.service network-online.target
Wants=seatd.service network-online.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=@KIOSK_USER@
Group=@KIOSK_USER@
PAMName=login
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_RUNTIME_DIR=/run/user/@KIOSK_UID@
Environment=WLR_SCENE_DISABLE_DIRECT_SCANOUT=1
Environment=WLR_LIBINPUT_NO_DEVICES=1
Environment=XCURSOR_THEME=""
Environment=XCURSOR_SIZE=0
# Mauszeiger-Icons für Cage unzugänglich machen, um Cursor-Rendering zu unterdrücken
InaccessiblePaths=/usr/share/icons
WorkingDirectory=/home/@KIOSK_USER@
ExecStart=/usr/local/bin/dbs-kiosk
Restart=always
RestartSec=5s
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=graphical.target
