[Unit]
Description=dbsKioskPi - Timer to Turn TV On (07:00 Daily)

[Timer]
OnCalendar=*-*-* 07:00:00
Persistent=true

[Install]
WantedBy=timers.target
